body {
	background-color: #489599;
}

div#container {
	width: 80%;
	margin: 0 auto;
}

h1 {
	text-align: center;
	font-family: sans-serif;
	color: #FFF
}

a {
	font-family: sans-serif;
	color: #FFF
}

p {
	font-family: sans-serif;
	color: #FFF
}

p#s-host {
	text-align: center;
}

p#peer-num {
	text-align: center;
}

div#peer-list p {
	text-align: center;
}

div#action-menu {
	text-align: center;
}